<div class="row mt-5">
  <div class="col-lg-9 col-sm-12 mx-auto">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Selamat datang,</h4>
      <p>
        Halo, saya Adhitya Nasuwa. Saya adalah seorang pelajar dari SMK PERTIWI
        SUKAMANDI, Saya membuat website ini hanya sekedar belajar NodeJS
      </p>
      <hr />
      <p class="mb-0">
        Note : Maaf jika ada error atau salah dalam codingan, maklum masih
        belajar
      </p>
    </div>
  </div>
</div>
